*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Console', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}
/* scroll on menu-click */
html{
    scroll-behavior: smooth;
}
body{
    background: #121212;
    color: #fff;
    overflow-x: hidden;
}

/* header */
#header{
    width: 100%;
    height: 100vh;
    background: #121212;
    background-size: cover;
    background-position: center;
}
.name-one{
    color: #fff;
    font-size: 5em;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6EC9F8;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 70px;
    margin-top: 20px;
}
.header-text p{
    font-size: 20px;
    margin-top: 5px;
}
#typed-text {
    border-right: 2px solid #515151; /* Cursor effect */
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    padding-right: 10px;
    animation: blink-cursor 1.5s step-end infinite;
}
/* Blinking cursor effect */
@keyframes blink-cursor {
    50% {
        border-color: transparent;
    }
}
.header-icons {
    margin-top: 40px;
    display: flex;
    gap: 35px;
}

.header-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.header-icons a i {
    font-size: 50px; /* Size of the icons */
    color: #6EC9F8; /* Default icon color */
    transition: color 0.3s ease;
}
.header-icons a i.fa-svg {
    color: #6EC9F8;
}
.header-icons a i.fa-github {
    color: #6EC9F8; /* Ensure GitHub icon color is correct */
}

.header-icons a:hover i {
    transform: scale(1.1); /* Slightly enlarges on hover */
    color: #4da8e8
}

/* about */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    letter-spacing: 1px;
    line-height: 20px;
}
.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6EC9F8;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #6EC9F8;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* projects */
#projects{
    padding: 30px 0;
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.projects-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: backgroun 0.5s, transform 0,5s;
}
.projects-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.projects-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0px;
    display: inline-block;
    letter-spacing: 1px;
}
.projects-list div p{
    letter-spacing: 1px;
    line-height: 17px;
}
h6{
    font-size: large;
    text-align: left;
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
}

/* button and hover over button*/
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #6EC9F8;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #6EC9F8;
}

/* zoom on hover */
.zoom{
    transition: transform 0.2s;
}
.zoom:hover{
    transform: scale(1.1);
}

/* Hidden by default */
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


/* footer */
footer{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-top: 200px;
    margin-bottom: 25px;
    text-align: center;
}